body {
  background-color: #000000;
}

h1 {
  color: #FFFFFF;
  font-family: Verdana;
  font-size: 50px;
  font-weight: normal;
  display: flex;
  justify-content: center;
}

h2 {
  color: #808080;
  font-family: Verdana;
  font-size: 21px;
  font-weight: normal;
  display: flex;
  justify-content: center;
}

.download {
  color: #7FFFD4;
  font-size: 16px;
  display: flex;
  justify-content: center;
  a {
     color: #7FFFD4;
  }
  a:hover {
     color: #7FFFD4;
  }
  a:visited {
     color: #7FFFD4;
  }
  a:link {
     color: #7FFFD4;
  }
}

  a {
     color: #7FFFD4;
  }
  a:hover {
     color: #7FFFD4;
  }
  a:visited {
     color: #7FFFD4;
  }
  a:link {
     color: #7FFFD4;
  }

.video {
  display: flex;
  justify-content: center;
}

.image {
  display: flex;
  justify-content: center;
  text-align: center;
}

.image2 {
  display: flex;
  justify-content: center;
  text-align: center;
}
